/* Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, menu, input, fieldset, textarea, button, select, th, td, div, span, header, nav, footer { margin: 0; padding: 0; -webkit-text-size-adjust: none; }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: normal; font-size: 100%; }
li { list-style: none; }
em, i { font-style: normal; }
a, a:visited { border: none; text-decoration: none; }
fieldset, img, input { border: none; }
input, textarea { outline: none; resize: none;}
body { word-wrap: break-word; font-size: 16px; font-family: /* En */ "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", /* Cn */ "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", "sans-serif"; line-height: 1.6; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; }

/* public */
.clear { zoom: 1; }
.clear:before, .clear:after { display: block; content: ""; }
.clear:after { clear: both; }
.fl { float: left; display: block; }
.fr { float: right; display: block; }
.none { display: none !important; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display: none; }