.container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    will-change:transform;
}

.container .logo {
    background: #191919;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
}

.container .menu .menu_item {
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    background-color: #222121;
    box-sizing: border-box;
    font-size: 15px;
    font-family: PingFangSC-Medium;
    height: 35px;
    line-height: 35px;
    color: #fff;
    border: 1px solid #302E2E;
}

.container .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    max-width: inherit;
}

.container .menu .menu_item.active_menu {
    background: #FEB92D;
    cursor: pointer;
    border: 1px solid #FEB92D;
}

.container .sub_menu{
    width: 100%;
    display: none;
}

.container .sub_menu.active_sub_menu {
    display: block;
}

.container .sub_menu.active_sub_menu .sub_menu_item.active_item {
    border-bottom: 2px solid #DA9A17;
    cursor: pointer;
    color: #DA9A17;
}

.container .sub_menu_wrap {
    background-color: #fff;
    overflow-x: auto;
    white-space: nowrap;
    padding: 13px 30px 13px 10px;
    font-size: 12px;
}

.container .sub_menu .sub_menu_item {
    padding: 13px 10px;
}

.container .sub_menu .col.sub_menu_item:before {
    content: " ";
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 2px;
    vertical-align: -2px;
}

.container .sub_menu .col.blue.sub_menu_item:before {
    background-color: blue;
}

.container .sub_menu .black.sub_menu_item:before {
    background-color: black;
}

.container .sub_menu .red.sub_menu_item:before {
    background-color: red;
}

.container .sub_menu .brown.sub_menu_item:before {
    background-color: #a66138;
}

.container .sub_menu .silver.sub_menu_item:before {
    background-color: #B6B6B6;
}


.container .sub_menu .champagne.sub_menu_item:before {
    background-color: #D3B98E;
}

.container .sub_menu .grey.sub_menu_item:before {
    background-color: grey;
}

.container .sub_menu .show_more {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 2px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,1));
}

.container .sub_menu .show_more img {
    width: 60%;
    text-align: center;
    line-height: 40px;
}

.container .content .car {
    width: 100%;
    display: block;
}

.container .content {
    position: relative;
}

/*.container .content:after {*/
    /*content: " ";*/
    /*display: block;*/
    /*height: 45px;*/
    /*width: 100%;*/
/*}*/

.container .content .model {
    background-color: rgba(34, 33, 33, .6);
    position: absolute;
    top: 9px;
    padding: 12px 15px;
    color: #fff;
}

.container .content .describe {
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    background-color: rgba(34, 33, 33, .6);
    color: #fff;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    display: none;
}

.container .content .describe .des_title{
    font-size: 14px;
    margin-bottom: 5px;
}

.container .content .reserve {
    position: fixed;
    bottom: 93px;
    padding: 7px 15px 7px 18px;
    right: 0;
    background-image: linear-gradient(to right, #FFF0C8, #FFDE8D);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.lightSpeedIn {
    animation: lightSpeedIn 1s 0.5s 1 ease-out;
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.container .content .circulation {
    position: absolute;
    bottom: 198px;
    left: 50%;
    width: 48px;
    margin-left: -24px;
}

.loading {
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -105px;
}

.loading_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1B1D1C;
    z-index: 9;
    /*display: none;*/
}

.container .footer {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FFFFFF;
    background: #222121;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: inherit;
}

.vr_content {
    display: none;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 35px;
    bottom: 0px;
    height: 100%;
}

.container .inner_head {
    display: none;
}


.boxLoading {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
}

.box {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: -30px;
    text-align: center;
}

.box p {
    color: #fff;
    font-size: 17px;
    margin-top: 15px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container .outside_sub_menu {
    position: relative;
}